<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/stylesheets/form.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Form</title>
</head>
<body>
  <h1>Send a new message</h1>
  <form method="POST" action="/new">
    <div class="inputs">
      <label for="user-name">Your name</label>
      <input type="text" id="user-name" name="userName">
      <label for="user-message">Your message</label>
      <input type="text" id="user-message" name="userMessage">
    </div>
    <button type="submit">Send</button>
 </form>
</body>
</html>